scipy==1.7.1
Shapely==1.7.1
h5py==3.4.0
numpy==1.21.2
numba==0.53.1
palettable==3.3.0
matplotlib==3.4.3
tqdm==4.62.2
descartes==1.1.0
verdict.egg==info
simple_augment.egg==info
mock==4.0.3
augment==0.4
verdict==1.1.4
